<header>

    <section id="principal_header">

        <section id="left">
            <a href="/"><img src="/images/ComputerLogo.png" alt="logo"></a>
        </section>

        <section id="middle">
            <h1 id="h1-2"><span id="span2">ErrorNotFound!</span>TryToFound<span id="span2">Together</span></h1>
        </section>
        
        <section id="right">
                <span id="span3"><a href="/members"></a></span>
        </section> 
        <section>
            <p id="logger">{{memberLogin}}</p>
        </section>

    </section>

</header>
